{% extends "modal/base.jinja" %}

{% block modal_id %}login{% endblock %}

{% block modal_title %}Login{% endblock %}

{% block modal_body %}
    <div data-action="/login" class="form-horizontal">
        <div class="form-group">
            <label class="control-label">Username/Email:</label>
            <div>
                <input class="form-control" name="username" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Password:</label>
            <div>
                <input class="form-control" name="password" type="password" />
            </div>
        </div>
    </div>
{% endblock %}