<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>{{ brand }}</title>
    {% load assets %}
    
    {% assets 'css' %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">    
    {% endassets %}
    
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body {% if author %}class="home-open"{% endif %}>

  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ brand }}</a>
      </div>
      <div class="collapse navbar-collapse">
        <div id="search" {% if author %}class="top"{% endif %}>
          <input class="form-control" type="text" placeholder="Search" />
          <div class="text-center">
            <button class="btn btn-primary">Search</button>
          </div>
        </div>  
        <div id="create">
          <button class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
        <div id="navbar_user">
          {% include "user/navbar.jinja" %}
        </div>
      </div>
    </div>
  </div>

  <div id="main" class="container">
  
    
  </div>
   
  <div id="viewer_bar" class="container">
    <button class="btn btn-primary" data-toggle="modal" data-target="#share_modal">Share</button>
    <span class="edit-title">
      <a class="title-holder"></a>
      <input type="text" class="form-control" placeholder="Untitled Document" />      
    </span>
    <div class="pull-right">
    
      <div id="tag_dropdown" class="dropdown">
        <a class="btn btn-primary dropdown-tottle" data-toggle="dropdown" title="Tags">
          <span class="glyphicon glyphicon-tags"></span>
        </a>
        <div class="dropdown-menu">
          <ul class="nav">
            <li>
              <form>
                <input id="tags" class="form-input" placeholder="Press 'Enter' to add tag" />
              </form>
            </li>
          </ul> 
        </div>
      </div>
      <a id="revisionlink" class="btn btn-primary ep-proxy" title="Mark as saved revision">
        <span class="glyphicon glyphicon-star-empty"></span>
      </a>
      <a class="btn btn-primary" title="View History">
        <span class="glyphicon glyphicon-time"></span>
      </a>
      <a id="importexportlink" class="btn btn-primary ep-proxy" title="Import/Export">
        <span class="glyphicon glyphicon-transfer"></span>
      </a>
      <a id="usericon" class="btn btn-primary ep-proxy" title="Users">
        <span class="glyphicon glyphicon-user"></span>
        <span class="ball-icon green">
          <span class="bkgd"></span>
          <span class="count">0</span>
        </span>
      </a>
      <a id="settingslink" class="btn btn-primary ep-proxy" title="Settings">
        <span class="glyphicon glyphicon-cog"></span>

      </a>
    </div>
  </div>

  <div id="viewer" class="container">
    <iframe src="" data-etherpad-url="{{ etherpad_url }}"></iframe>
  </div>

  <div id="home">
    {% if author %}
      {% include 'user/home.jinja' %}
    {% endif %}
  </div>

  <div id="loading">
    <img src="/static/images/loading.gif" />
  </div>
  {% include "modal/login.jinja" %}
  {% include "modal/share.jinja" %}
  {% assets 'js' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
    
</body>
</html>
