body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}
a {
    cursor: pointer;
}
.highlight {
    background:  #FFE45C;
    border-color: #FED22F;
}
#create {
    float: left;
    padding-top: 8px;
}
#navbar_user {
    float: right;
}

#go_home {
    float: left;
    margin-top: 8px;2
}
.home-open #go_home {
    display: none;
}

#main {

}
#search {
    position: fixed;
    left: 50%;
    margin-left: -210px;
    width: 420px;
    top: 50%;
    margin-top: -34px;
    transition: all 1s ease 0s;
    text-align: center;
}
.viewer-open #search,
.home-open #search,
.invites-open #search {
    top: 9px;
    margin-top: 0;
    text-align: left;
    
}


#search input {
    margin-bottom: 7px;
    transition: all 1s ease 0s;
}
.viewer-open #search input,
.home-open #search input,
.invites-open #search input
 {
    width: 323px;
    display: inline-block;
}
@media (max-width: 990px) {
    .viewer-open #search input,
    .home-open #search input,
    .invites-open #search input
     {
        width: 205px;
        margin-left: 117px;
    }
}
#search button {
    transition: all 1s ease 0s;

}
.viewer-open #search .text-center,
.home-open #search .text-center,
.invites-open #search .text-center {
    height: 0;
}
.viewer-open #search button,
.home-open #search button,
.invites-open #search button {
    -webkit-transform: translate(160px,-41px);
    transform: translate(160px,-41px);
}


#viewer, 
#viewer_bar {
    display: none;
}
#viewer_bar {
    padding-bottom: 7px;
}
#viewer_bar .pull-right a {
    padding: 2px 8px 0;
    font-size:21px;
}
#tag_dropdown {
    display: inline-block;
    vertical-align: middle;
}
#usericon {
    position: relative;
}
.green-ball {
    position: absolute;
    left: 10px;
    bottom: 7px;
    width: 7px;
    height: 7px;
    background: #90ee90;
    border-radius: 15px;
}
.ball-icon {
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 13px
}
.ball-icon .count {
    position: relative;
    z-index: 1;
    padding: 4px;
}
.ball-icon .bkgd {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.67;
    border-radius: 15px;
}
.ball-icon.green .bkgd {
    background: #008000;
    border: 1px solid #006900;
}
.edit-title {
    display:inline-block;
    width: 320px;
}
.edit-title input {
    display: none;
}
.title-holder {
    cursor: pointer;
    font-size: 20px;
    margin-left: 13px;
    vertical-align: middle;
}
.viewer-open #viewer,
.viewer-open #viewer_bar {
    display: block;
}
#viewer iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: none;
}
#home {
    display: none;
}
.home-open #home,
.invites-open #home {
    display: block;
}
.home-open #all {
    display: block;
}
#home .left-bar {
    float: left;
    margin-right: 10px;
    width: 200px;
}
#home .cb {
    width: 34px;
    text-align: center;
}

#home .icon {
    padding: 5px;
    width: 23px;
}
#home .icon span {
    font-size: 23px;
}
#loading {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -42.5px;
    margin-top: -42.5px;
}

.page {
    display: none;
}

.invites-open #invites {
    display: block;
}
#invites .none {
    display: none;
}
#invites .response {
    padding: 3px 0;
    width: 42px;
}
#invites .response button {
    padding: 4px 8px;
}
#share_role {
    padding-left: 0
}
#share_role select {
    padding-right: 4px;
    padding-left: 5px;
}