{% for member in members %}
    <tr>
        <td>
            {{ member.author.user.username }}
        </td>
        <td>
            {{ member.get_role_display() }}
        </td>
    </tr>
{% endfor %}

{% if invites|length > 0 %}
    <tr>
        <td colspan="2" class="text-center invite-header">
            <h3>Invited</h3>
        </td>
    </tr>
    {% for invite in invites %}
        <tr>
            <td>
                {{ invite.to.user.username }}
            </td>
            <td>
                {{ invite.get_role_display() }}
            </td>
        </tr>
    {% endfor %}
{% endif %}