{% for invite in invites %}
    <tr data-id="{{ invite.id }}">
        <td><input type="checkbox" /></td>
            <td class="icon">
            <span class="glyphicon glyphicon-file"></span>
        </td>
        <td class="response accept">
            <button class="btn btn-success" title="Accept Invite">
                <span class="glyphicon glyphicon-ok"></span>
            </button>   
            <button class="btn btn-danger" title="Remove Invite">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
        <td> {{ invite.pad.get_title() }}</td>
        <td> {{ invite.sender.user.username }}</td>
        <td> {{ invite.role }}</td>
        <td> {{ invite.sent.strftime('%Y') }}</td>
        <td class="response deny">
            <button class="btn btn-primary" title="Ignore">
                <span class="glyphicon glyphicon-eye-close"></span>
            </button>
        </td>
    </tr>   
{% endfor %}